<template>
  <div class="flex">
    <div class="w-70 h-screen flex flex-col border-r border-gray-300 shrink-0">
      <div class="h-24 flex justify-center items-center">
        <img src="@/assets/logo_black.svg" alt="">
      </div>
      <div class="flex-1 p-8 pt-2">
        <a
          href=""
          v-for="link in linkList"
          :key="link.label"
        >
          <div>
            {{ link.label }}
          </div>

        </a>
      </div>
      <div class="p-8">
        <button class="border border-gray-900 h-12 w-full text-gray-900 rounded-10px font-bold" @click="logout">Salir</button>
      </div>
    </div>
    <div class="flex-1 flex flex-col shrink-0">
      <div class="h-24 border-b border-gray-300 p-8">
        <div class="flex items-center justify-end">
          <div class="w-8 h-8 rounded-full bg-amber-500 flex items-center justify-center text-sm font-bold text-white">{{ getInitials(user.nombre)}}</div>
          <span class="ml-2 text-xs font-bold">{{ user.nombre }}</span>
        </div>
      </div>
      <div class="p-6 flex-1 bg-gray-100">
        <div class="bg-white h-full w-full rounded-2xl p-6 relative overflow-hidden">
          <div class="flex mb-4">
            <p class="text-2xl font-bold">Empleados</p>
            <div v-if="isLoading" class="animate-pulse flex-1 flex justify-end items-center">
              <div class="w-25 h-9 bg-gray-100 rounded-full"></div>
            </div>
          </div>
          <div v-if="!isLoading" class="flex mb-6">
            <MyInput placeholder="Buscar empleado" class="flex-1"></MyInput>
            <select class="border border-gray-300 focus:border-success py-4 px-5 rounded-10px text-sm ml-4 w-80"></select>
          </div>
          <!-- skeleton -->
          <div v-if="isLoading" class="animate-pulse">
            <div class="grid grid-cols-3 gap-4 mb-6">
              <div v-for="i in 3" :key="i" class="w-full h-9 bg-gray-100 rounded-full"></div>
            </div>
            <div class="absolute">
              <div v-for="i in 9" :key="i" class="flex">
                <div class="flex w-52 p-4 rounded-s-2xl" :class="{ 'bg-gray-50': i === 1, 'border-b border-gray-100': i !== 1 }">
                  <div class="w-5 h-5 bg-gray-100 rounded-full"></div>
                  <div class="flex-1 h-5 bg-gray-100 rounded-full ml-3"></div>
                </div>
                <template v-for="j in 16" :key="`${i}-${j}`">
                  <div class="flex w-32 p-4" :class="{ 'bg-gray-50': i === 1, 'border-b border-gray-100': i !== 1 }">
                    <div class="flex-1 h-5 bg-gray-100 rounded-full"></div>
                    <div v-if="i === 1" class="w-5 h-5 bg-gray-100 rounded-full ml-3"></div>
                  </div>
                </template>
              </div>
            </div>
          </div>
          <div v-else>
            <table id="table" class="w-full table-auto">
              <thead>
                <tr>
                  <th v-for="header in headerList" :key="header" class="bg-gray-50 p-4">{{ header }}</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="employee in employeeList" :key="employee.id">
                  <td class="p-4">
                    {{ employee.nombre }}
                    {{ employee.correo }}
                  </td>
                  <td class="p-4">{{ employee.cargo }}</td>
                  <td class="p-4">{{ employee.departamento }}</td>
                  <td class="p-4">{{ employee.oficina }}</td>
                  <td class="p-4">{{ employee.estadoCuenta }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { requestEmployees } from "../api"
  import { onMounted , ref } from "vue"
  import { useRouter } from 'vue-router'
  const router = useRouter()
  import { useAuthStore } from '../stores/auth'
  const store = useAuthStore()
  import MyInput from "../components/MyInput.vue"
  
  const user = store.auth.user || {}
  const linkList = [
    {
      icon: '',
      label: 'Empleados',
    },
    {
      icon: '',
      label: 'Reclutamiento',
    }
  ]
  const headerList = [
    'Nombre',
    'Nombre cargo',
    'Departamento',
    'Oficina',
    'Cuenta',
    'Acciones'
  ]

  const isLoading = ref(true)
  const employeeList = ref([])

  onMounted(async () => {
    const { data } = await requestEmployees()    
    if (data) {
      employeeList.value = data
      isLoading.value = false
    }
  })

  const logout = () => {
    router.push('/')
    store.setAuth({})
  }

  const getInitials = (text: string) => {
    if (typeof text !== 'string') return ''
    const names = text.split(' ')
    return (
      (names.shift()?.[0] || '') + (names.pop()?.[0] || '')
    ).toUpperCase()
  }

</script>

<style>
table th:first-child {
  border-radius: 10px 0px 0px 10px;
}
table th:last-child {
  border-radius: 0px 10px 10px 0px;
}
</style>