<template>
  <div class="h-screen grid grid-cols-2">
    <div class="bg-gray-900 flex flex-col">
      <div class="flex-1 relative">
        <img class="absolute w-full h-full object-cover" src="@/assets/login.png" alt="login">
      </div>
      <div class="border-t-5px border-primary p-50px pb-50px text-white">
        <img class="mb-8" src="@/assets/logo_white.svg" alt="login_white">
        <h1 class="text-5xl font-bold mb-8">Dale más power ⚡ a tus empleados hoy 💪</h1>
        <p class="text-lg">Te ayudamos a gestionarlos de manera más sencilla</p>
      </div>
    </div>
    <div class="flex justify-center items-center relative">
      <div class="w-100">
        <h4 class="font-bold text-2xl text-center mb-5">Inicia sesión</h4>
        <MyInput
          v-model="form.correo"
          type="text"
          placeholder="Ingresa el correo electrónico"
          label="Correo electrónico"
          required
          class="w-full mb-4"
        />
        <MyInput
          v-model="form.password"
          type="password"
          placeholder="Ingresa la contraseña"
          label="Contraseña"
          required
          class="w-full mb-8"
        />
        <p v-if="hasError" class="mb-8 text-error text-xs">Correo o contraseña incorrectos</p>
        <button class="bg-gray-900 h-14 w-full text-white rounded-10px font-bold mb-8" @click="login">Iniciar sesión</button>
        <p class="text-sm text-center">¿Eres nuevo aquí? <a href="" @click.prevent="" class="text-success">Crea una cuenta</a> </p>
      </div>
      <p class="absolute bottom-4 text-gray-500 text-sm">© 2023 Culqi . Todos los derechos reservados</p>
    </div>
  </div>
</template>
<script setup lang="ts">
  import { reactive, ref } from "vue"
  import MyInput from "../components/MyInput.vue"
  import { loginRequest } from "../api"
  import { useRouter } from 'vue-router'
  const router = useRouter()
  
  import { useAuthStore } from '../stores/auth'
  const store = useAuthStore()

  const form = reactive({
    correo: 'c.quispe@culqi.com',
    password: 'admin123'
  })
  const hasError = ref(false)

  const login = async () => {
    const { status, data } = await loginRequest(form)
    if (status === 'success') {
      hasError.value = false
      router.push('/dashboard')
      store.setAuth(data)
      
    } else {
      hasError.value = true
    }
  }
</script>
