<template>
  <div>
    <p v-if="label" class="text-sm font-medium mb-1">
      {{ label }}
      <span v-if="required" class="text-red-600">*</span>
    </p>
    <input
      :value="modelValue"
      @input="updateValue"
      :type="type"
      :placeholder="placeholder"
      class="border border-gray-300 focus:border-success py-4 px-5 rounded-10px text-sm w-full"
    >
  </div>
</template>

<script setup lang="ts">
  interface MyInput {
    label: string
    placeholder: string
    type: string
    required: boolean
    modelValue: any
  }
  defineProps<MyInput>()

  const emit = defineEmits(['update:modelValue'])
  const updateValue = (event) => {
    emit('update:modelValue', event.target.value)
  }


  // const handleInputChange = (event: Event) => {
  //   console.log(event)
  //   return (event.target as HTMLInputElement).value
  // }
</script>